/* SASS index */
* {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop One", sans-serif; }

.header {
  background-color: #bccebe;
  border: solid 0px;
  height: 150px;
  position: sticky;
  top: 0;
  width: 99.8%; }

.titulo-index {
  display: flex;
  justify-content: center;
  color: #424346;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 30px;
  background-color: #bccebe; }

nav {
  list-style-type: none;
  font-size: 15px; }
  nav a {
    text-decoration: none; }

h2 {
  color: antiquewhite; }
  h2 p {
    color: bisque;
    font-size: 8px; }

/* SASS servicios */
.servicios {
  border: solid 1px #3a3a3b;
  height: 400px;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 12px;
  color: #ad9292;
  display: grid;
  grid-template-areas: "comidas actividades actividades" "comidas actividades actividades";
  grid-template-rows: 2fr 1fr; }

.comidas {
  grid-area: comidas; }

.actividades {
  grid-area: actividades; }

.container-footer {
  background-image: url(../imagenes/footer1.jpg);
  background-size: cover; }
  .container-footer .column {
    border: solid 0px;
    align-self: center;
    justify-self: start;
    margin-left: 5px;
    color: #c06c1d; }
    .container-footer .column .redes {
      border: solid 0px;
      margin-top: 0;
      text-align: center;
      font-style: italic;
      font-weight: bold; }
