* {
  margin: 0;
  padding: 0;
}

.header {
  z-index: 1;
  background-color: rgb(188, 206, 190);
  border: solid 0px;
  height: 150px;
  position: sticky;
  top: 0;
  width: 100%;
  .nav-link {
    list-style-type: none;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      transform: scale(1.2);
      transition: all 1s;
    }
  }
}

.titulo-index {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(66, 67, 70);
  font-family: "Mochiy Pop One", sans-serif;
  background-color: rgb(188, 206, 190);
}




